.gallery {
gap: 20px;
}

.card__title {
  margin: 0;
}

.gallery__title {
  font-size: 24px;
font-weight: 700;
line-height: 1.2;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin-top: 40px;
}

.gallery__new-card-btn {
  font-weight: 700;
  display: flex;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
  cursor: pointer;
  font-family: inherit;
  background-color: #d9d9d9;
  width: 325px;
  height: 205px;
  padding: 20px;
  border-radius: 20px;
}

.gallery__new-card-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}

.card {
  font-family: inherit;
  background-color: #65d583;
  width: 325px;
  height: 205px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
}

.card_color_green {background-color: #64d583;}
.card_color_blue {background-color: #91a8f9;}
.card_color_pink {background-color: #ee92d7;}
.card_color_purple {background-color: #aa8ef0;}
.card_color_orange {background-color: #ee955e;}
.card_color_yellow {background-color: #f5d770;}

.card__carousel_color_green { background-color: #64d583; }
.card__carousel_color_blue { background-color: #91a8f9; }
.card__carousel_color_pink { background-color: #ee92d7; }
.card__carousel_color_purple { background-color: #aa8ef0; }
.card__carousel_color_orange { background-color: #ee955e; }
.card__carousel_color_yellow { background-color: #f5d770; }
.card__carousel_color_white { background-color: #ffffff;}

.card__delete-btn {
  background-image: url("../images/delete.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-color: transparent;
  opacity: 50%;
  z-index: 2;
}

.card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__count {
  margin: 0;
  font-weight: 400;
font-size: 16px;
line-height: 1.2;
}

.card__link {
  position: absolute;
  inset: 0; 
  z-index: 1;
}
